/* *,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --accent-color: #2196f3;
}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.current {
    color: var(--accent-color);
    position: relative;
}

.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    background: #2196f3;
    border-radius: 2px;
}

.list {
    list-style: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header section */

/*
.header-conteiner {
    display: flex;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background: #ffffff;
    border: 1px solid #ececec;
}

.header-item {
    display: flex;
}

.header-item + .header-item {
    margin-left: 50px;
}

.header-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-item-mail-tel {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-mail-tel:hover,
.header-item-mail-tel:focus {
    color: var(--accent-color);
}

.header-social-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* navigation section */
/*
.navigation {
    display: flex;
    align-items: center;
}

.logo-footer-item {
    display: block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #2196f3;
    margin-bottom: 20px;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #2196f3;
    margin-right: 93px;
}

.logo-header {
    color: #000000;
}

.logo-footer {
    color: #ffffff;
}

.navigation-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #000000;
}

.navigation-list:hover,
.navigation-list:focus {
    color: var(--accent-color);
}

.navigation-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #000000;
}

.navigation-item > .current {
    color: var(--accent-color);
}

.navigation-item + .navigation-item {
    margin-left: 50px;
}

.navigation-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-link:active {
    color: var(--accent-color);
}

/* hero section */
/*
.hero-title {
    padding: 200px 0;
}

.hero {
    max-width: 1600px;
    background: #2f303a;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/title-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}

.hero-container {
    display: flex;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
}

.hero-btn {
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: var(--accent-color);
}

/* about section */
/*
.about-icons {
}

.about-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.about-social-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.about {
    padding-bottom: 0;
}

.masters-social-list {
    display: flex;
    justify-content: center;
}

.masters-social-item + .masters-social-item {
    margin-left: 10px;
}

.masters-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-social-icon {
    fill: currentColor;
}

.masters-social-link:hover,
.masters-social-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.about-item {
    width: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.about-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.about-after-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* --- work-section --- */
/*
.work-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-img {
    width: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.work-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

/* --- personal-section --- */
/*
.personal-title-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.personal {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
}

.personal-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.personal-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.personal-section-item {
    width: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.personal-title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.personal-after-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

/* --- content-section --- */
/*
.content-section {
}

.content-social-icon {
}

.content-social-icon:hover,
.content-social-icon:focus {
    border: 1px solid #2196f3;
    box-sizing: border-box;
    border-radius: 4px;
}

.content-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.content-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
}

.content-item {
    width: 170px;
    height: 92px;
    width: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.content-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border, fill;
}

.content-icon {
    fill: currentColor;
}
.content-social-link:hover,
.content-social-link:focus {
    background-color: #ffffff;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* --- footer-section --- */
/*
.address {
    font-style: normal;
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
}

.footer-adres-conteiner {
    width: 231px;
}

.footer-link {
}

.footer-item {
    margin-bottom: 9px;
}

.footer-map {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer-item-mail-tel {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.footer-cont {
    display: flex;
    align-items: baseline;
}

.footer-social-conteiner {
    width: 206px;
    margin-left: 70px;
}

.footer-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
}

.footer-social-item + .footer-social-item {
    margin-left: 10px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: currentColor;
}

.footer-social-link:hover {
    background-color: var(--accent-color);
    color: #ffffff;
}

.footer-subscribe {
    margin-left: 93px;
}

.footer-subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 12px 0 20px 0;
}

.footer-subscribe-block {
    display: flex;
    position: relative;
}

.footer-subscribe-input {
    background-color: #2f303a;
    width: 358px;
    height: 50px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    color: #ffffff;
}

.footer-subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
    margin-left: 12px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px 62px 10px 29px;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.footer-subscribe-svg {
    position: absolute;
    top: 25%;
    right: 0;
    margin-right: 28px;
    cursor: pointer;
    fill: #ffffff;
}

/* --- menu-section 2 stor --- */
/*
.btn-list {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    border: none;
    padding: 6px 22px 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.btn-list:active {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
}

.menu-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu-btn-item {
    border-radius: 4px;
}

.menu-btn-item + .menu-btn-item {
    margin-left: 8px;
}

.btn-list:hover,
.btn-list:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-section-list {
}

.menu-section {
}

.menu-personal-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
}

.masters-wrap {
    position: relative;
    overflow: hidden;
}

.menu-personal-item {
    position: relative;
    width: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.menu-personal-item:hover .masters-top-text {
    transform: translateY(0);
}

.menu-personal-link {
    text-decoration: none;
    outline: none;
}

.menu-personal-link:hover,
.menu-personal-link:focus {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-top-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px 63px 24px;
    height: 100%;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-personal-item:focus,
.menu-personal-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.menu-after-title {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.menu-title-item {
    padding: 20px 24px;
    background-color: #ffffff;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

/* --- galery --- */
/*
.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opaсity 500ms, visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
    transform: rotate(-250deg) scale(0.5);
}

.modal {
    padding: 40px;
    width: 528px;
    min-height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    transition: transform 500ms;
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    padding: 0;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    fill: #000000;
    background-color: #ffffff;
    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-color);
}

.modal-close-icon {
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Форма модального вікна */
/*
.modal-form {
}

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 12px 0;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;
}

.form-field.comment {
    margin-bottom: 20px;
}

.agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.form-field.agreement {
    align-items: center;
}

.form-field.agreement input[type='checkbox'] {
    margin-right: 7px;
}

.modal-form-label {
    position: relative;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-label-agreement {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.modal-icon-checkbox {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 9px;
    fill: #ffffff;
    border: 2px solid black;
    border-radius: 2px;
}

.checkbox:checked + .modal-icon-checkbox {
    fill: var(--accent-color);
    border: none;
    border-radius: 2px;
}

.checkbox:focus + .modal-icon-checkbox {
    border-color: var(--accent-color);
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-form-input {
    height: 40px;
    padding-left: 42px;
    margin: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
    height: 120px;
    padding: 12px;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-svg {
    position: absolute;
    top: 65%;
    margin-left: 15px;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:hover,
.modal-form-textarea:hover,
.modal-form-input:focus,
.modal-form-textarea:focus {
    border-color: var(--accent-color);
}

.modal-form-input:hover ~ .modal-form-svg,
.modal-form-input:focus ~ .modal-form-svg {
    fill: #2196f3;
}

.modal-form-text-link {
    margin-left: 5px;
    color: var(--accent-color);
    text-decoration-line: underline;
}

.modal-form-button {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;

    padding: 10px 55px 10px 56px;
    cursor: pointer;
    outline: none;
    border: 0;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background: #188ce8;
}
