.address {
    font-style: normal;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;

    &-adres-conteiner {
        width: 231px;
    }

    &-item {
        margin-bottom: 9px;
    }

    &-map {
        text-decoration: none;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 9px;
    }

    &-item-mail-tel {
        text-decoration: none;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 9px;
    }

    &-cont {
        display: flex;
        align-items: baseline;
    }

    &-social-conteiner {
        width: 206px;
        margin-left: 70px;
    }

    &-text {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &-social-list {
        display: flex;
        justify-content: center;
    }

    &-social-item + &-social-item {
        margin-left: 10px;
    }

    &-social-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @extend %disp-a-j;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: var(--accent-color);
            color: #ffffff;
        }
    }

    &-social-icon {
        fill: currentColor;
    }

    &-subscribe {
        margin-left: 93px;
    }

    &-subscribe-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        margin: 12px 0 20px 0;
    }

    &-subscribe-block {
        display: flex;
        position: relative;
    }

    &-subscribe-input {
        background-color: #2f303a;
        width: 358px;
        height: 50px;
        padding-left: 16px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;

        color: #ffffff;
        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &-subscribe-button {
        margin-left: 12px;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;

        cursor: pointer;
        outline: none;
        border: 0;
        padding: 10px 62px 10px 29px;
        letter-spacing: 0.06em;
        color: #ffffff;
    }

    &-subscribe-svg {
        position: absolute;
        top: 25%;
        right: 0;
        margin-right: 28px;
        cursor: pointer;
        fill: #ffffff;
    }
}
