p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
